body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: orangered;
    }
    
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

  li {
    margin-bottom: 8px;
  }

  ul {
  margin-bottom: 20px;
}

.content {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
  background-color: lightcoral;
  border-radius: 7px;
}